#Documents
.doc
.docx
.pdf
.txt
.odt
.rtf
.ppt
.pptx
.xls
.xlsx

#Videos
.mp4
.mkv
.webm
.avi
.mov
.flv

#Music
.mp3
.ogg
.opus
.m4a
.wav
.flac
.aac

#Pictures
.jpg
.jpeg
.webp
.png
.bmp
.svg

#Keys/Secrets
